<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>bNew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <servlet-class>controler.Indexpubliccontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexpubliccontroler</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indexadmincontroler</servlet-name>
    <servlet-class>controler.Indexadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexadmincontroler</servlet-name>
    <url-pattern>/admin/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdminCatControler</servlet-name>
    <servlet-class>controler.IndexAdminCatControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminCatControler</servlet-name>
    <url-pattern>/admin/danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowaddCatAdminControler</servlet-name>
    <servlet-class>controler.ShowaddCatAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowaddCatAdminControler</servlet-name>
    <url-pattern>/admin/show-them-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCatAdminControler</servlet-name>
    <servlet-class>controler.AddCatAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatAdminControler</servlet-name>
    <url-pattern>/admin/them-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelcatadminControler</servlet-name>
    <servlet-class>controler.DelcatadminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelcatadminControler</servlet-name>
    <url-pattern>/admin/xoa-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoweditCatadmincontroler</servlet-name>
    <servlet-class>controler.ShoweditCatadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoweditCatadmincontroler</servlet-name>
    <url-pattern>/admin/Show-sua-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Editcatadmincontroler</servlet-name>
    <servlet-class>controler.Editcatadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editcatadmincontroler</servlet-name>
    <url-pattern>/admin/sua-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Indexusercontroler</servlet-name>
    <servlet-class>controler.Indexusercontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexusercontroler</servlet-name>
    <url-pattern>/admin/trangchu-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAdduserControler</servlet-name>
    <servlet-class>controler.ShowAdduserControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdduserControler</servlet-name>
    <url-pattern>/admin/Show-them-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TintucpublicControler</servlet-name>
    <servlet-class>controler.TintucpublicControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TintucpublicControler</servlet-name>
    <url-pattern>/tintuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhMucpubliccontroler</servlet-name>
    <servlet-class>controler.DanhMucpubliccontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhMucpubliccontroler</servlet-name>
    <url-pattern>/danhmuctintuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChitietpublicControler</servlet-name>
    <servlet-class>controler.ChitietpublicControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChitietpublicControler</servlet-name>
    <url-pattern>/chitiet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdduserAdminControler</servlet-name>
    <servlet-class>controler.AdduserAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdduserAdminControler</servlet-name>
    <url-pattern>/admin/them-nguoi-dung</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DeluseradminControler</servlet-name>
    <servlet-class>controler.DeluseradminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeluseradminControler</servlet-name>
    <url-pattern>/admin/deluser</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Showedituseradmincontroler</servlet-name>
    <servlet-class>controler.Showedituseradmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showedituseradmincontroler</servlet-name>
    <url-pattern>/admin/show-edituser</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EdituserAdminControler</servlet-name>
    <servlet-class>controler.EdituserAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdituserAdminControler</servlet-name>
    <url-pattern>/admin/edituser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexNewscontroler</servlet-name>
    <servlet-class>controler.IndexNewscontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexNewscontroler</servlet-name>
    <url-pattern>/admin/tintuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddNewsControler</servlet-name>
    <servlet-class>controler.ShowAddNewsControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddNewsControler</servlet-name>
    <url-pattern>/admin/show-addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewsAdminControler</servlet-name>
    <servlet-class>controler.AddNewsAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsAdminControler</servlet-name>
    <url-pattern>/admin/addnews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoweditNewsadmincontroler</servlet-name>
    <servlet-class>controler.ShoweditNewsadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoweditNewsadmincontroler</servlet-name>
    <url-pattern>/admin/show-editnews</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EditNewsadmincontroler</servlet-name>
    <servlet-class>controler.EditNewsadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsadmincontroler</servlet-name>
    <url-pattern>/admin/editnews</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>xoaanhadmincontroler</servlet-name>
    <servlet-class>controler.xoaanhadmincontroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoaanhadmincontroler</servlet-name>
    <url-pattern>/admin/xoaanh</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DelNewstadminControler</servlet-name>
    <servlet-class>controler.DelNewstadminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNewstadminControler</servlet-name>
    <url-pattern>/admin/delnews</url-pattern>
  </servlet-mapping>
  
</web-app>